// COLORS
$color-white: #fff;
$color-grey-dark: #777;
$color-grey-light: #d3d3d3;

// GRID

$card-width: 15.7rem;
$card-height: 22rem;
$num-cards: 70;
$card-horizontal-space: 10rem;
$card-width2: 100%;
