footer.footer 
  .footer__logo 
  ul.footer__nav 
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Become a member
    li: a(href='#') Contact
    li: a(href='#') Other resources
  p.footer__copyright &copy; by Clarence Dalton.

