header.header 
  .main-nav
    .header__logo 
      img(src='public/img/logo--tehuti.png' alt='Neteru logo')
    ul.main-nav-list
      li
        a.main-nav-link(href='#') Section 1
        a.main-nav-link(href='#') Section 2
        a.main-nav-link(href='#') Section 3
        a.main-nav-link(href='#') Section 4
        a.main-nav-link.nav-cta(href='#') Section 5
        //- button.btn-text.btn--white.btn--animated pick card
